body{
background-color:#FFFFCC
}

h1{color:#FF0000;
font-family:verdana;
text-align:center
;}

mark{
background-color: red;
color: black;
}

p.error {
    color:red
}

a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}

th,td  {
padding: 5px;
text-align:center;
}

table {
border-spacing:15px;
}

.full_table {
width: 100%
}
table#t01{
width:100%;
background-color: #FFCCFF;
}